@import url('components/topnavbar_style.css');
@import url('components/form_style.css');
@import url('components/buttons.css');
@import url('components/flash_message_style.css');
@import url('posts/posts_style.css');


@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf') ;
}

body {
    font-family: 'Poppins-Regular';
    background-color: #f2f2f2;
    font-size: small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}